:root {
    font-size: 62.5%;
    --white: hsl(0, 0%, 100%);
    --purple: hsl(278, 58%, 70%);
    --softwhite: hsl(0, 0%, 87%);
    --very-dark-gray-line: hsl(0, 0%, 15%);
    --very-dark-blue-main-bg: hsl(0, 0%, 6%);
    --very-dark-blue-card-bg: hsl(0, 0%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    font-style: normal;
    font-family: 'Outfit', sans-serif;
    background-color: var(--very-dark-blue-main-bg);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: var(--very-dark-blue-card-bg);
    max-width: 35rem;
}

/* Card Image Box*/

.card__image-box {
    /* vai conter algo relativo a ele */
    /* por isso usei position relative */
    position: relative;
}

.card__nft-img {
    border-radius: 0.5rem;
    width: 100%;
}

.overlay-color {
    /* elemento que vai estar relativo */
    /* por isso usei position absolute */
    position: absolute;
    top: 0;
    height: 98.5%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    border-radius: 0.5rem;
    background-color: var(--purple);
}

.overlay-icon {
    /* elemento que vai estar relativo */
    /* por isso usei position absolute */
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15%;
    height: 15%;
    opacity: 0;
    transition: .7s ease;
}

/* over effects */

.card__image-box:hover .overlay-icon {
    opacity: 1;
}

.card__image-box:hover .overlay-color {
     opacity: 0.4;
}

/* Card Title */

.card__title {
    font-weight: 600;
    color: var(--white);
    font-size: 2.5rem;
    text-decoration: none;
}

.card__title:hover {
    color: var(--purple);
}

/* Card Description */

.card__description {
    font-weight: 300;
    color: var(--softwhite);
}

/* Card Info */

.card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__price {
    font-weight: 400;
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.card__days {
    font-weight: 300;
    color: var(--softwhite);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

/* Horiziontal Rule */

.card hr {
    border: 1px solid var(--very-dark-gray-line);
}

/* Card Author */

.card__author {
    font-weight: 300;
    color: var(--softwhite);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__author-avatar {
    width: 3rem;
    border: solid white 0.1rem;
    border-radius: 100%;
}

.card__author-name {
    color: var(--white);
    text-decoration: none;
}

.card__author-name:hover {
    color: var(--purple);
}