.card {
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: var(--very-dark-black-card-bg);
}

.card__image-box {
    /* elemento que vai conter algo relativo */
    /* position relative */
    position: relative;
}

.card__nft-img {
    border-radius: 0.5rem;
    width: 100%;
}

.overlay-color {
    /* elemento que vai estar relativo */
    /* position absolute */
    position: absolute;
    top: 0;
    height: 98.5%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    border-radius: 0.5rem;
    background-color: var(--purple);
}

.overlay-icon {
    /* elemento que vai estar relativo */
    /* position absolute */
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15%;
    height: 15%;
    opacity: 0;
    transition: .7s ease;
}

/* hover effect */
.card__image-box:hover .overlay-icon {
    opacity: 1;
}

/* hover effect */
.card__image-box:hover .overlay-color {
    opacity: 0.4;
}

.card__title {
    font-weight: var(--semi-bold);
    color: var(--white);
    font-size: 2.5rem;
    text-decoration: none;
}

.card__title:hover {
    color: var(--purple);
}

.card__description {
    font-weight: var(--light);
    color: var(--white);
}

.card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__price {
    font-weight: var(--semi-bold);
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.card__days {
    font-weight: var(--light);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}

.card hr {
    border: 1px solid var(--very-dark-gray-line);
}

.card__author {
    font-weight: var(--light);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__author-avatar {
    width: 3rem;
    border: solid white 0.1rem;
    border-radius: 100%;
}

.card__author-name {
    color: var(--white);
    text-decoration: none;
}

.card__author-name:hover {
    color: var(--purple);
}